<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>762588352132-4i5j0dnecpds5ar4ojk8kv1eeh57rgid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762588352132-4i5j0dnecpds5ar4ojk8kv1eeh57rgid</string>
	<key>API_KEY</key>
	<string>AIzaSyBIWhSpdJq2CQ_Mx5i1BtWntefJR3AYcIY</string>
	<key>GCM_SENDER_ID</key>
	<string>762588352132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.firestoreapp</string>
	<key>PROJECT_ID</key>
	<string>test-c10fa</string>
	<key>STORAGE_BUCKET</key>
	<string>test-c10fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762588352132:ios:55f5c801b16d63db</string>
	<key>DATABASE_URL</key>
	<string>https://test-c10fa.firebaseio.com</string>
</dict>
</plist>